@model GroupModel
@{
    ViewData["Title"] = "Index";
}

<!-- Page header -->
<div class="page-header">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><a asp-controller="Dashboard" asp-action="Index" asp-area="Member" class="text-black-50"><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Dashboard</span></a></h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none text-center text-md-left mb-3 mb-md-0">
            <a data-toggle="modal" data-target="#exampleModal" class="btn btn-labeled btn-labeled-right bg-primary"><i class="icon-plus-circle2 mr-2"></i> <span class="font-weight-semibold">New Group</span></a>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content pt-0">

    <!-- Basic datatable -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Groups</h5>
            <div class="header-elements">
            </div>
        </div>

        <div class="card-body">
            <partial name="_ActionMessage" model="@Model.Response" />
        </div>

        <table class="table" id="group-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /basic datatable -->
</div>

<!-- Danger modal -->
<div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Delete</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p>Are you sure want to delete?</p>
                <form id="deleteForm" action="@Url.Action("Delete", "Groups", new { Area = "Member" })" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="deleteId" value="" name="id" />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button type="button" id="deleteButton" class="btn bg-danger">Yes, Delete!</button>
            </div>
        </div>
    </div>
</div>
<!-- /default modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Group Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Add" asp-controller="Groups" asp-area="Member" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input name="Name" type="text" class="form-control" id="Name" placeholder="Enter Group Name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="icon-cancel-circle2"></i> Cancel</button>
                    <button type="submit" class="btn btn-primary"> <i class="icon-file-check2"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_DatatableScriptsPartial.cshtml" />
    <script src="~/js/project/group.js"></script>
    <script src="~/js/ajax-call.js"></script>

    <script>
        $(function () {
            var url = '@Url.Action("GetGroups", "Groups", new { Area = "Member" })';
            var editUrl = '@Url.Action("Edit", "Groups", new { Area = "Member" })';
            loadDatatable(url, editUrl);

            $('#group-table').on('click', '.show-bs-modal', function (event) {
                var id = $(this).data("id");
                var modal = $("#modal-delete");
                modal.find('.modal-body p').text('Are you sure want to delete this record?')
                $("#deleteId").val(id);
                modal.modal('show');
            });

            $("#deleteButton").click(function () {
                $("#deleteForm").submit();
            });
        });
    </script>
}