
@{
    ViewData["Title"] = "Index";
}


<!-- Content area -->
<div class="content pt-0">

    <!-- Basic datatable -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Users</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            @*<partial name="_ActionMessage" model="@Model.Response" />*@
        </div>
        <table class="table" id="user-table">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>EmailConfirmed</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
    <!-- /basic datatable -->
</div>

<!-- Danger modal -->
<div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Delete</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p>Are you sure want to delete?</p>
                <form id="deleteForm" action="@Url.Action("Delete", "Users", new { Area = "Admin" })" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="deleteId" value="" name="id" />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button type="button" id="deleteButton" class="btn bg-danger">Yes, Delete!</button>
            </div>
        </div>
    </div>
</div>
<!-- /default modal -->

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_DatatableScriptsPartial.cshtml" />
    <script src="~/js/ajax-call.js"></script>
    <script src="~/theme/global_assets/js/main/jquery.min.js"></script>
    <script src="~/theme/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/js/project/user.js"></script>

    <script>
        $(function () {
            var url = '@Url.Action("GetUsers", "Users", new { Area = "Admin" })';
            var editUrl = '@Url.Action("Edit", "Users", new { Area = "Admin" })';
            loadDatatable(url, editUrl);

            $('#user-table').on('click', '.show-bs-modal', function (event) {
                var id = $(this).data("id");
                var modal = $("#modal-delete");
                modal.find('.modal-body p').text('Are you sure want to delete this record?')
                //$("#deleteForm").attr("action", "/admin/category/delete/" + id );
                $("#deleteId").val(id);
                modal.modal('show');
            });

            $("#deleteButton").click(function () {
                $("#deleteForm").submit();
            });

        });
    </script>
}