@model UserInformationModel
@{
    ViewData["Title"] = "UserInformation";
}

<!-- Page header -->
<div class="page-header">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><a asp-controller="Dashboard" asp-action="Index" asp-area="Admin" class="text-black-50"><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Dashboard</span></a></h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none text-center text-md-left mb-3 mb-md-0">
            <a asp-controller="Users" asp-action="Index" asp-area="Admin" class="btn btn-labeled btn-labeled-right bg-primary"><i class="icon-list mr-2"></i> <span class="font-weight-semibold">User List</span></a>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content pt-0">

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">User Information</h5>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <table class="table">
                        <tr>
                            <td class="col-4 float-left"><h3>User Name: </h3></td>
                            <td class="col-8 float-left"><h3>@Model.UserName</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Full Name : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.FullName</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Email : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.Email</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Email Confirmed: </h3></td>
                            <td class="col-8 float-left"><h3>@Model.EmailConfirmed</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>User : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.UserName</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Phone Number : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.PhoneNumber</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Phone Number Confirmed: </h3></td>
                            <td class="col-8 float-left"><h3>@Model.PhoneNumberConfirmed</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Two Factor Enabled : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.TwoFactorenabled</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Lockout End : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.LockoutEnd</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Lockout Enabled : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.LockoutEnabled</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Access Failed Count : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.AccessFailedCount</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Status : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.Status</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Image Url : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.ImageUrl</h3></td>
                        </tr>

                        <tr>
                            <td class="pl-3">
                                <a asp-controller="Users" asp-action="Index" asp-area="Admin" class="btn btn-light"><i class="icon-arrow-left52"></i> Back</a>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table">
                        <tr>
                            <td class="col-4 float-left"><h3>Address : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.Address</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Gender : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.Gender</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Date of Birth : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.DateOfBirth</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Last Password Change Date : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.LastPassChangeDate</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Password Changed Count : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.PasswordChangedCount</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Created By : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.CreatedBy</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Created : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.Created</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Last Modified By : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.LastModifiedBy</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>Last Modified : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.LastModified</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>IsActive : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.IsActive</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>IsDeleted : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.IsDeleted</h3></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h3>IsBlocked : </h3></td>
                            <td class="col-8 float-left"><h3>@Model.IsBlocked</h3></td>
                        </tr>
                    </table>
                </div>
            </div>
            
        </div>
    </div>

</div>
<!-- /Content area -->
